*.suo
*.user
*.userosscache
*.sln.docstates
.vs
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/
**/packages/*
**/_ReSharper.Caches/*
**/.temporary/*
**/.cache/*
**/.resources/*
**/AppPackages/

# System file crap
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

#.Net core
project.lock.json
*.nuget.props
*.nuget.targets

# ignore temp files
**/App_Data/*
**/logs/*

# Auto. generated resources
Resource.Designer.cs
BundleArtifacts/
*.appx
**/_pkginfo.txt
